In [2]:
!pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Collecting pandas
  Downloading pandas-2.2.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (13.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 13.1/13.1 MB 19.2 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: python-dateutil>=2.8.2 in /home/sid2018-3/.local/lib/python3.10/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/lib/python3/dist-packages (from pandas) (2022.1)
Collecting tzdata>=2022.7
  Downloading tzdata-2024.2-py2.py3-none-any.whl (346 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 346.6/346.6 KB 17.2 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.22.4 in /home/sid2018-3/.local/lib/python3.10/site-packages (from pandas) (2.1.2)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: tzdata, pandas
Successfully installed pandas-2.2.3 tzdata-2024.2

In [9]:
import pandas as pd


def drop_remuneration_et_promotions():
    col_to_drop  = ["Spatial perimeter", "Indicator", "Type of contract", "Employee category", "M3E classification", "Gender", "Unit"]
    df_remuneration = pd.read_csv("bilan-social-d-edf-sa-remuneration-et-promotions.csv", sep = ";")
    df = df_remuneration.drop(col_to_drop, axis = 1)
    
    return df

def drop_formation():
    col_to_drop_formation = ["Spatial perimeter", "Indicator", "Employee category", "M3E classification", "Gender", "Unit"]
    df_formation = pd.read_csv("bilan-social-d-edf-sa-formation.csv", sep = ";")
    df = df_formation.drop(col_to_drop_formation, axis = 1)
    
    return df
   

def drop_droit_du_travail():
    col_to_drop_droit  = ["Spatial perimeter", "Indicator", "Type of legal action", "Unit"]
    df_droit = pd.read_csv("bilan-social-d-edf-sa-droit-du-travail.csv", sep = ";")
    
    df = df_droit(col_to_drop_droit, axis = 1)
    
    return df
    

def drop_others_conditions():
    col_to_drop_others_conditions = ["Spatial perimeter", "Indicator", "Type of contract", "Time range","Employee category", "Gender", "Unit"]
    df_condition = pd.read_csv("bilan-social-d-edf-sa-autres-conditions-de-travail(1).csv", sep = ";")
    
    df = df_condition.drop(col_to_drop_others_conditions)
    return df
    
 # Test des fonctions   
df_remuneration_promotions = drop_remuneration_et_promotions()
df_remuneration_promotions

df_formations = drop_formation()
df_formations

,Année,Perimètre juridique,Perimètre spatial,Indicateur,Collège,Plage M3E,Genre,Valeur,Unité,Chapitre du bilan social
0,2023,EDF SA,France,Montant consacré à la formation continue - INT...,NaN,NaN,NaN,236695.0,K€,§5.1.2
1,2023,EDF SA,France,Montant consacré à la formation continue - AUTRES,NaN,NaN,NaN,40874.0,K€,§5.1.2
2,2023,EDF SA,France,Salariés ayant suivi au moins un stage,Maitrise,NaN,Femme,5618.0,nombre,§5.1.3
3,2023,EDF SA,France,Salariés ayant suivi au moins un stage,NaN,F,Homme,7021.0,nombre,§5.1.3 bis
4,2023,EDF SA,France,Heures de formation,NaN,NaN,Femme,642716.0,heures,§5.1.4
...,...,...,...,...,...,...,...,...,...,...
436,2017,EDF SA,France,Heures de formation,NaN,B,Homme,87006.0,Heures,§5.1.4 bis
437,2017,EDF SA,France,Heures de formation,NaN,D,Homme,389668.0,Heures,§5.1.4 bis
438,2017,EDF SA,France,Heures de formation,NaN,F,Homme,490128.0,Heures,§5.1.4 bis
439,2017,EDF SA,France,Heures de formation,NaN,H,Homme,250160.0,Heures,§5.1.4 bis
440,2017,EDF SA,France,Contrats d'apprentissage conclus dans l'année,NaN,NaN,Homme,819.0,Nombre,§5.3.1